[2012-08-30 11:38] rkuhn opened #1 "fix pickup of wrong doc comments when intervening anonymous/local class"
[code]

[2012-08-30 11:39] rkuhn opened #2 "implement class/module flattening"
careful with those names: static forwarders are not generated if the name is used in the non-static part

[2012-08-30 11:40] rkuhn opened #3 "always emit full class names with packages"
List/Seq/Predef are not known to Java

[2012-08-30 11:48] rkuhn opened #4 "make comments on method arguments travel into that methods/constructor’s doc"
[code]

[2012-08-30 11:50] rkuhn opened #5 "write README"

[2012-08-30 11:51] rkuhn opened #6 "add test subproject to build which runs the plugin in the recommended way (plus actual JavaDoc)"

[2012-08-30 11:58] rkuhn opened #7 "make output directory configurable"
`-Dgenjavadoc.out=<dir>`

[2012-08-30 14:14] rkuhn opened #8 "emit 'interface' for interfaces"

[2012-08-30 14:15] #7 closed, assigned to rkuhn

[2012-08-30 14:16] #8 closed, assigned to rkuhn

[2012-08-30 14:17] rkuhn opened #9 "add test case which uses diff to verify that output matches expectations"

[2012-08-31 12:39] #9 closed, assigned to rkuhn

[2012-09-02 09:53] rkuhn opened #10 "verify documented signatures"
emit dummy `return` statements to make generated code compilable; then compare javap output between scalac and javac class files

[2012-09-13 07:43] rkuhn opened #11 "print package clause to output files"

[2012-09-13 11:50] #11 closed, assigned to rkuhn

[2012-09-14 16:32] #3 closed, assigned to rkuhn

[2013-03-01 22:09] #2 closed, assigned to rkuhn

[2013-03-01 22:10] #10 closed, assigned to rkuhn

[2013-03-02 21:30] #1 closed, assigned to rkuhn

[2013-03-04 09:07] rkuhn opened #12 "do not emit …$default$<n> methods"

[2013-03-04 09:07] rkuhn opened #13 "transform {{{…}}} to proper HTML"

[2013-03-04 09:09] rkuhn opened #14 "read through generated akka docs and file more tickets ;-)"

[2013-03-05 21:43] rkuhn opened #15 "adding the compiler plugin changes the name of some private fields in generated code"
the following files in the akka build changed by introducing the genjavadoc-plugin:

[code]

an example of the change:

[code]

[2013-03-05 21:48] #13 closed, assigned to nobody

[2013-03-05 21:49] #5 closed, assigned to rkuhn

[2013-03-05 21:50] #12 closed, assigned to nobody

[2013-03-06 17:27] rkuhn opened #16 "remove “Java API” markers"
they will be picked up as the summary comment, which is not helpful.

[2013-03-06 17:28] rkuhn opened #17 "transform `@see` lines differently"
i.e. do not emit `@see {@link ... }`

[2013-03-06 17:35] rkuhn opened #18 "change code snippet encoding"
it should actually be more like

[code]

[2013-03-06 17:58] rkuhn opened #19 "replace some more characters in pre-formatted text"
`@, <, >, &`

[2013-03-07 08:08] #18 closed, assigned to nobody

[2013-03-07 08:09] #16 closed, assigned to nobody

[2013-03-07 08:10] #14 closed, assigned to nobody

[2013-03-07 08:10] #17 closed, assigned to nobody

[2013-03-07 08:10] #19 closed, assigned to nobody

[2013-03-14 18:19] rkuhn opened #21 "absolute output path does not work on windows"
the issue was that the settings for the plugin were parsed as if they were lines in a Properties file, which was removing/interpreting the backslashes; fixed in 007bee9624bb813b8e6f58fff86026247a13ddfc

[2013-03-14 18:19] #21 closed, assigned to nobody

[2013-03-14 18:20] rkuhn opened #22 "add documentation about how the comments are transformed"
added to README.md in 1d075d85518f4a93cc46d36f252b9b3f46fdc708

[2013-03-14 18:21] #22 closed, assigned to nobody

[2013-04-08 08:05] patriknw opened #23 "Transform backtick to <code>"
http://doc.akka.io/japi/akka/snapshot/akka/actor/Actor.html

[code]

should be transformed to

[code]

[2013-04-17 17:23] tkaczmarzyk opened #24 "javadoc for java-compatible varargs methods (generated with @varargs)"
The javadoc is generated only for Scala-flavoured varargs method (the one with Seq[T]). There is no entry for a method generated with Java-compatible varargs.

For instance this Scala source:

[code]

is transformed into:

[code]

which is missing the following declaration:

[code]

[2013-04-29 21:33] rocketraman opened #25 "Include documention for integrating this into Maven"
I integrated this into my Maven build for my mixed Java/Scala project to produce a single aggregated Javadoc for the entire project (until Scala is capable of handling Javadoc, this is the next best thing -- thank you!).

See my StackOverflow answer here:

http://stackoverflow.com/a/16288487/430128

I think it would be useful if the README for the project provided Maven instructions in addition to

[2013-05-07 20:50] #23 closed, assigned to nobody

[2013-05-07 21:01] #25 closed, assigned to nobody

[2013-05-07 21:06] rkuhn opened #26 "copy doc comment from companion-less `object` to synthetic class"
currently `object X` without a companion class will produce a class `X$` which carry the object’s docs and class `X` which has no top-level docs

[2013-05-07 21:07] rkuhn opened #27 "do not emit synthetic or ugly methods"

[2013-05-08 13:33] #24 closed, assigned to nobody

[2013-05-08 13:33] #26 closed, assigned to nobody

[2013-05-08 13:33] #27 closed, assigned to nobody

[2013-06-28 22:59] sriramsub opened #28 "Using genjavadoc with scala2.8"
1. We are using scala 2.8 and I would like to know if genjavadoc will work?
2. The readme file provides a code snippet to make genjavadoc to work with sbt. I am not sure where to add this in my sbt project.

[2013-06-30 10:35] #28 closed, assigned to nobody

[2013-07-08 12:41] patriknw opened #29 "Link warnings"
I think the scaladoc links doesn't include full package name.

    [warn] /Users/patrik/dev/akka/akka-actor/target/java/akka/actor/SupervisorStrategy$.java:42: warning - Tag @link: reference not found: Decider
    [warn] /Users/patrik/dev/akka/akka-actor/target/java/akka/actor/SupervisorStrategy.java:80: warning - Tag @link: reference not found: Decider
    [warn] /Users/patrik/dev/akka/akka-actor

[2013-11-10 20:38] phil-rice opened #32 "'File Not Found Exception'"
I'm creating a scala project  https://github.com/phil-rice/cddcore. There is a branch called JavadocCompilerException that holds the code that I'm raising the issue over.

When I follow the instructions given in  http://www.scala-sbt.org/release/docs/Howto/scaladoc.html, I get an error message which is loads of source code followed by:
[error] uncaught exception during compilation: java.io.FileNot

[2014-01-20 16:11] patriknw opened #34 "NPE for trait in object"
ReliableProxy.DebugLogging trait in akka-contrib cause NPE:

    [error] java.lang.NullPointerException
    [error]     at com.sun.tools.javadoc.ClassDocImpl.getFlags(ClassDocImpl.java:125)
    [error]     at com.sun.tools.javadoc.ClassDocImpl.isAnnotationType(ClassDocImpl.java:136)
    [error]     at com.sun.tools.javadoc.JavadocMemberEnter.isAnnotationTypeElement(JavadocMemberEnter.java:90)

[2014-01-21 09:37] rkuhn opened #35 "NPE in getFlags"
[error] java.lang.NullPointerException
    [error] 	at com.sun.tools.javadoc.ClassDocImpl.getFlags(ClassDocImpl.java:125)
    [error] 	at com.sun.tools.javadoc.ClassDocImpl.isAnnotationType(ClassDocImpl.java:136)
    [error] 	at com.sun.tools.javadoc.JavadocMemberEnter.isAnnotationTypeElement(JavadocMemberEnter.java:90)
    [error] 	at com.sun.tools.javadoc.JavadocMemberEnter.visitMethodDef(Javado

[2014-03-26 15:06] rkuhn opened #36 "wrong generated Java code for private[] objects"
as witnessed in scala/scala-java8-compat#8

[2014-06-26 09:09] bantonsson opened #41 "Broken code for nested objects"
If you add this to the test the generated code is broken.

Some of the other changes introduced for akka-http might be unnecessary if this is fixed.

[code]

[2014-08-08 16:49] hawkw opened #42 "Cannot find symbol: Scala.Null warnings"
Whenever I run JavaDoc on genjavadoc-generated source, I get a bunch of error messages in the console that look like this:

[code]

This issue is obviously not high-priority - everything still works fine; I'd just rather not get warning spam in the console.

I'm using Scala 2.11.2, and I'm running genjavadoc from a Gradle build script - I can post the Gradle build script if you like.

[2014-08-08 17:33] hawkw opened #43 "Links generated by genjavadoc are broken"
I recently switched from using JavaDoc `{@link ...}` syntax in my ScalaDoc comments to using ScalaDoc `[[..]]` syntax, after learning that genjavadoc transforms ScalaDoc links into JavaDoc links. However, now, when I look at the JavaDoc html pages, the links appear as text rather than as links, and when generating JavaDoc, the JavaDoc tool prints a lot of `warning - Tag @link: reference not found:

[2014-10-23 16:00] srowen opened #44 "javadoc 8 errors on some translated scaladoc elements"
I'm trying to get javadoc 8 to be happy with the output of genjavadoc for Apache Spark. A lot works; I've noticed a few issues though. javadoc 8 treats a lot of stuff as errors now.

For example, `@example` and `@note` and `@group` tags are valid scaladoc, but not javadoc. These get passed through as-is to generated Java code, and javadoc rejects them. Can the tags just be ignored, but their text

[2014-11-14 11:45] jrudolph opened #45 "Static forwarders missing for `object` mixins"
For this code

[code]

the plugin generates this java file:

[code]

It should also contain forwarders for methods from the mixed-in traits.

[2015-02-03 21:58] lawrencefinn opened #46 "NPE on scala 2.10 for version 0.8"
uncaught exception during compilation: java.lang.NullPointerException

[code]

Works fine on 2.11

[2015-05-15 14:42] rkuhn commented on #29
These are cases where the original code is in error: there are no Java types to link to.

[2015-05-15 14:42] #29 closed

[2015-05-18 18:35] ktoso opened #51 "Understand external links syntax from scaladoc"
As seen in: https://github.com/akka/akka/pull/17386/files#diff-86b129a2f383901f6ab2cfd307258525R25
genjavadoc does not currently understand external links syntax.

[2015-05-21 05:55] patriknw opened #52 "Is (undocumented) needed?"
In the [java8 fixes](https://github.com/typesafehub/genjavadoc/pull/50) the fabricated (undocumented) were introduced. Are they necessary, or is it only a lint warning?

I think it looks very unprofessional to add that stuff. It's not wrong to not write a comment for a parameter. It might be explained in the description of the method, or it might be obvious from the name what it is.

If it is a wa

[2015-05-21 05:58] patriknw opened #53 "Shorten links"
Is it possible to automatically shorten the links, i.e. not include all the types? Links like this are rather insane: `start(java.lang.String, scala.Option<akka.actor.Props>, scala.Option<java.lang.String>, boolean, scala.PartialFunction<java.lang.Object, scala.Tuple2<java.lang.String, java.lang.Object>>, scala.Function1<java.lang.Object, java.lang.String>, akka.cluster.sharding.ShardCoordinator.S

[2015-05-27 13:38] diversit commented on #4
How to document the constructor?
I have tried several options but generated code always has '// not preceding' before the constructor.

Things I tried:
- 2nd block
/**
 * class comment
*/
/**
 * Constructor comment
 */
case class Test(arg: String)

- before class name
case class /** constructor docs */ Test(arg: String)

- after class name
case class Test /** appears at argument */(arg: String)

[2015-05-27 14:49] rkuhn commented on #4
Yes, this is an open issue and I have currently no time to work on it—if you have an idea please share.

[2015-06-25 15:52] rkuhn commented on #32
Thanks for the report, even though it took me quite a while to get around to it. The error is quite simple, the root package needs special care.

[2015-06-25 16:04] #32 closed

[2015-06-25 16:24] rkuhn commented on #36
was fixed in #40

[2015-06-25 16:24] #36 closed

[2015-06-25 16:34] rkuhn commented on #34
This is not a bug in genjavadoc, it is a bug in javadoc.

[2015-06-25 16:34] #34 closed

[2015-06-25 16:34] #35 closed

[2015-06-25 18:46] #42 closed

[2015-06-26 08:53] rkuhn commented on #43
This is a current limitation: scaladoc comments are not parsed and interpreted , only minimal substitutions are made. This means that `[[...]]` syntax can only be used to link to Java classes. All other uses are illegal.

I mark this as an enhancement so that someone can pick it up if interested.

[2015-06-26 08:56] rkuhn commented on #44
Ignoring tags would be easy but anything more complicated is currently out of scope. There is an existing ticket for documenting constructor arguments (#4).

[2015-06-26 08:58] rkuhn commented on #45
Are you certain that Scala supports this? I have seen inconsistent behavior in the past.

[2015-06-26 09:04] rkuhn commented on #46
Which Scala version fails exactly? Does this still happened with 0.9? It seems that `processOptions` was not called by the compiler before starting the compilation run.

[2015-06-26 09:05] rkuhn commented on #51
duplicate of #43

[2015-06-26 09:05] #51 closed

[2015-06-26 09:07] rkuhn commented on #53
This would require managing imports which is currently out of scope. But it would be an interesting enhancement.

[2015-06-26 09:18] patriknw commented on #53
I mean the display of the links, i.e. the above example would display as **start**.

[2015-06-26 09:24] rkuhn commented on #53
WDYM? can you give an example? genjavadoc does not generate links, that is done by javadoc unless I misunderstand you.

[2015-06-26 09:34] patriknw commented on #53
genjavadoc generates `@link` tags, I guess, and there is a syntax for the display text. I think it is like this:

    {@link akka.actor.Actor#supervisorStrategy() supervisorStrategy}

[2015-06-26 10:20] rkuhn commented on #53
Well, genjavadoc does not generate the link contents, that is done by you: just add the shortened version just as you would, it also benefits the ScalaDoc.

[2015-06-26 10:26] patriknw commented on #53
Ok, perhaps I was annoyed at that the JavaDoc version got much longer than ScalaDoc. Closing

[2015-06-26 10:26] #53 closed

[2015-06-26 13:19] jrudolph commented on #45
AFAIK the inconsistency is mostly due to incremental compiler bugs.

[2015-06-29 20:04] #41 closed

[2015-06-29 20:39] rkuhn opened #55 "do not place classes in default package that don’t belong there"
e.g. `akka.Main`

[2015-06-30 12:00] #45 closed

[2015-06-30 12:00] #55 closed

[2015-07-01 08:23] rkuhn opened #56 "javadoc NPE without stack trace"
It looks like JDK8 javadoc has some problem with the resulting Java sources from compiling akka-actor, but this seems to be a [JDK issue](https://bugs.openjdk.java.net/browse/JDK-8050266) rather than a genjavadoc issue (since JDK6 and 7 work just fine).

[2015-07-15 10:51] ktoso opened #57 "Update for Scala 2.11.7"
Update for Scala 2.11.7

[2015-08-04 10:02] 2m commented on #57
Latest master already supports 2.11.7. The missing piece was a 0.9 version release for 2.11.7 which now has been released.

[2015-08-04 10:02] #57 closed

[2015-08-10 14:28] TimSoethout opened #59 "`@inheritdoc` (Scala) and `@inheritDoc` (Java) is not converted correctly"
[code]

results in on build by javadoc
[code]

Could it be a solution if converting `@inheritdoc` (Scala) to `@inheritDoc` (Java)?

[2015-11-16 15:03] patriknw opened #60 "deprecated annotation not propagated to javadoc"

[2015-11-18 01:47] thunterdb opened #62 "Missing package private information in the AST with current master"
I was trying to pick up on @mengxr 's branch [1], but I noticed that the current master does not give information about package private classes anymore (except for trait).

From the tests:
symbol: PPrivate -> missing
symbol: Private -> missing
symbol: PProtected -> missing
symbol: PTrait modifiers: it

This information was obtained from https://github.com/thunterdb/genjavadoc/tree/missing-info by

[2015-11-28 13:18] #60 closed

[2015-11-28 13:19] ktoso opened #63 "Roll release with #58 and #61"
The PRs #58 and #61 deserve to be released, can we roll a release soon?

[2015-12-15 12:16] patriknw opened #65 "translate @tparam"
@tparam becomes an error in javadoc (JDK 8)

[2015-12-17 04:32] jroper opened #66 "genjavadoc should be plugged into scaladoc, not scalac"
I don't know if this is possible, but given the overhead of running `genjavadoc` on every compile (which I don't know much about, but it's enough to warrant the Akka team having it [turned off by default](https://github.com/akka/akka/blob/master/project/Doc.scala#L97), then it seems plugging in to scalac is not the right thing to do.  Rather, it would make a lot more sense to plug into scaladoc, b

[2015-12-17 04:40] jroper commented on #66
Actually, I just had a look at the genjavadoc plugin - it does a separate invocation of scalac to run, so it's not run as part of a normal compile.  So it seems Akka needlessly disables it.  Though, plugging into scaladoc rather than scalac would still be interesting, as it would mean doing a full build including java/scala docs for a project would only invoke the scala compiler twice, rather than

[2015-12-17 05:28] jroper commented on #66
Well, I was wrong about genjavadoc plugin doing a separate invocation of scalac, but here's the configuration required to make it do a separate invocation of scalac:

[code]

[2016-03-16 09:09] ktoso opened #69 "Make sure @see works properly"
And is really clickabke

[2016-04-01 08:04] lhohan opened #72 "Documentation: Update version (0.7 to 0.9) to fix resolving of artifact"
Hello,

There is a small error in the documentation for SBT version more recent than 0.13.2 which causes the artifact not being resolved.

[code]

should be (note the version):

[code]

[2016-04-05 04:00] mengxr opened #73 "Make an official release after #70 and #71"
It would be nice to make an official release after #70 and #71 were merged, so we can switch to the official jars in Spark 2.0, which is coming soon. There might be other projects that need this feature too.

cc: @jodersky @rkuhn

[2016-04-07 22:09] jodersky commented on #73
+1
Scala 2.12.0-M4 was just published, maybe these issues can be combined with an M4 genjavadoc release

[2016-04-07 22:17] ktoso commented on #73
Yeah, good idea, let's put some on a milestone

[2016-04-08 15:06] szeiger opened #76 "Handle the default package correctly"
Currently genjavadoc creates an illegal package declaration `package <empty>;` for the top-level package. This declaration should be omitted.

[2016-04-08 15:09] szeiger opened #77 "Ignore REPL artifacts"
After running the REPL in an sbt project, there are some artifacts like `$_repl_$init` (in the default package) and packages like `$line1$` left on the classpath. It would be nice if genjavadoc filtered them out by default.

[2016-04-08 19:22] jodersky opened #78 "Drop support for previous 2.12 milestones"
The latest Scala 2.12.0-M4 release introduces an internal change that breaks genjavadoc.

The "culprit" here is scala/scala@4a5a800d4606d917289dc14c35f2035e83f58953, removing the `throwsAnnotations` method from `src/reflect/scala/reflect/internal/AnnotationInfos.scala`.

Since genjavadoc supports Scala all the way back to 2.10 *and* deals with internal APIs, it is kind of a miracle that we don't n

[2016-04-08 19:27] jodersky commented on #78
*Minor correction:* I just saw there are already split sources, so forget my first argument. Nevertheless, the incompatibility with M4 still stands and thus my suggestion to drop milestones [M1,M3]

[2016-04-08 21:46] jodersky commented on #78
#75 has a solution that works for all milestone versions. Closing this

[2016-04-08 21:46] #78 closed

[2016-04-08 23:36] jodersky opened #79 "Travis broken for Scala 2.11.7"
Take a look at https://travis-ci.org/typesafehub/genjavadoc/builds/121833192. Travis fails only for the Scala 2.11.7 on Java 8 configuration:

[code]

The given config works on my local machine. Could travis have a corrupt cache?

[2016-04-11 22:06] jodersky commented on #79
Everything works on my machine and, according to the error message, it really looks like it is an issue with travis' cache.
@2m, could you take a look at it? thanks

[2016-04-15 08:21] 2m commented on #79
You were right. Fixed by cleaning Travis CI cache by running `travis cache --delete`.

[2016-04-15 08:21] #79 closed

[2016-04-15 10:03] jodersky commented on #73
@2m, thanks for merging the PRs :)
Do you already know when you plan to make a next release? Spark 2.0 is slowly showing up on the horizon and it would be great to switch to the official genjavadoc before code freeze.

[2016-04-15 10:04] ktoso commented on #73
Let's make sure it gets out in time for the 2.0, let us know if you have more info when that might be ;)

[2016-04-15 15:26] mengxr commented on #73
cc @rxin, who manages Spark 2.0 release.

[2016-04-18 18:55] jodersky commented on #73
From what I gather on the mailing list, it seems the freeze will be in 2 weeks. It would be awesome if we could get a release by then!

[2016-04-19 07:39] 2m commented on #73
Alright. There has been lots of changes here since the last release. I will do a smoke test to see how the latest version works with current Akka and cut a release if everything looks good.

[2016-04-19 07:39] 2m commented on #63
Folded into #73.

[2016-04-19 07:39] #63 closed

[2016-04-20 07:45] #72 closed

[2016-04-20 08:10] 2m opened #81 "Static forwarders are not filtered for java keywords"
It looks like after https://github.com/typesafehub/genjavadoc/commit/d5123a3a8f8b658610b0c97b829e2098050e92e1 static forwarders are not filtered for java keywords. This makes JavaDoc generation fail for Akka with the master version of genjavadoc.

For example with the latest genjavadoc [AbstractFSM](https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/actor/AbstractFSM.scala) cl

[2016-04-20 19:09] mengxr commented on #73
@jodersky Could you test Spark with the latest genjavadoc master and see whether it works as expected? Thanks!

[2016-04-21 23:52] mengxr commented on #73
FYI, I tested genjavadoc@g9b19d03 with Spark master ([diff](https://github.com/apache/spark/compare/master...mengxr:SPARK-14511?expand=1)) and got the following error:

[code]

[2016-04-22 00:00] mengxr commented on #73
It seems that it forgot to escape `default`, which is a Java keyword.

[2016-04-22 00:01] jodersky commented on #73
maybe that's related to #81 ? it seems there are some old issues with escaping keywords

[2016-04-22 00:28] mengxr commented on #81
I don't know much about the internals, but it seems that `inheritedMethods` doesn't filter Java keywords either.

[2016-04-22 00:37] jodersky commented on #81
I can have a look at this tomorrow

[2016-04-25 21:46] jodersky commented on #81
Submitted a quick fix

[2016-04-26 07:40] #81 closed

[2016-04-26 12:30] 2m commented on #73
I have released `0.10` for all of the scala versions defined in the build definition. It is on the way to maven central.

[2016-04-26 12:30] #73 closed

[2016-04-26 18:20] jodersky commented on #73
Thanks!
On Apr 26, 2016 5:30 AM, "Martynas Mickevičius" <notifications@github.com>
wrote:

[2016-04-29 16:57] mengxr opened #83 "Package private objects are not hidden with strictVisibility"
We updated Spark to use genjavadoc 0.10 and found the package private objects are not hidden with strictVisibility switch on. See https://issues.apache.org/jira/browse/SPARK-15006.

cc: @jodersky

[2016-05-01 13:42] srowen commented on #44
@jodersky I know you were looking at this, a little bit; this may be a duplicate and/or stale at this point.

[2016-05-01 13:44] jodersky commented on #44
Thx for the heads-up!
Fyi, I won't have time to look into this for the next week
On May 1, 2016 6:42 AM, "Sean Owen" <notifications@github.com> wrote:

[2016-05-09 15:00] drewhk opened #84 "JavaDoc generation should pick up @throws annotations"
Otherwise thrown exception types are not picked up in the Javadoc causing possible confusion.

[2016-06-22 19:38] mengxr opened #85 "Single-line ScalaDoc plus deprecated annotation would trigger a bug"
We recently deprecated setLabelCol in ChiSqSelectorModel in Spark (https://github.com/apache/spark/pull/13823):

[code]

This unfortunately hit a genjavadoc bug and broken doc generation. This is the generated Java code:

[code]

Switching to multiline is a workaround (https://github.com/apache/spark/pull/13855). It would be nice to fix this bug in genjavadoc.

[2016-08-25 04:54] jroper opened #88 "Links to Java static fields are not correctly translated."
I'm not sure if this applies to a broader scope, eg to methods or non static fields, but if I have a Java class with a static field:

[code]

And then I reference it in some scaladocs:

[code]

genjavadoc will produce:

[code]

This is not the right way to reference fields, javadoc will subsequently fail.  It should produce:

[code]

This can be worked around by using the following incorrect Scala

[2016-10-20 11:42] patriknw commented on #85
Same here, but that is not single line:
https://github.com/akka/akka/blob/master/akka-remote/src/main/scala/akka/remote/AddressUidExtension.scala#L43

This was with Scala 2.12.0-RC2

[2016-11-08 21:58] adriaanm opened #93 "Overriding versus copy/paste"
The bad news: I broke the plugin in https://github.com/scala/scala/pull/5469

The good news: there's now a hook method that can be overridden without copy/pasting from the compiler code base. Here's a sketch, though needs some work to work cross-version: https://github.com/typesafehub/genjavadoc/compare/api-doc-comment?expand=1

The bad news: the API change with the hook method is not in 2.12.0 (i

[2016-11-08 21:59] adriaanm commented on #93
Pragmatically, I should probably make the method non-final again, but at least the code here then needs to be re-copy/pasted...

[2016-11-08 22:52] adriaanm commented on #93
Seems like that patch fixes the plugin on the latest 2.12.1 nightly https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/924/consoleFull. Didn't check the actual doc output though

[2016-11-09 08:50] lrytz commented on #93
you could make the method non-final, and have it forward invoke a separate, final, tail-recursive implementation method

[2017-03-03 23:15] YiSoEasy opened #97 "Support custom Annotation in Scala or Java"
Hi,
   I have define a annotation class which like deprecate class. I use it in the head of each scala class as below
@deprecated
@myAnnotation
class XXX {
}

the @deprecated annotation in scala transformed to related annotation in Javadoc
but @myAnnotation disappeared, is it possible to keep it in java doc without any change after the transformation, so that my maven-javadoc-plugin can still reco

[2017-04-17 11:33] igormoreno opened #99 "Error compiling traits without companion objects"
I have a trait `ObjectStorage` that doesn't have a companion object but I'm getting the error:

[code]

I don't know if this is an issue but it seems to be.

[2017-04-19 14:56] mushtaq opened #100 "Update for Scala 2.12.2"

[2017-04-19 14:56] ktoso commented on #100
Pull request welcome ;-)

[2017-04-24 06:22] #100 closed

[2017-07-17 16:37] twalthr opened #106 "Scala Macros cause NullPointerException in com.sun.tools.javac.code.Type"
I'm not sure if this is the right place to report the issue, but maybe you can help me. We are using `genjavadoc` in Apache Flink (see [pom.xml](https://github.com/apache/flink/blob/master/pom.xml#L599)).

We recently upgraded to Scala 2.11 and cannot build out Javadocs anymore. It seems that `genjavadoc` is not producing correct Java files for Scala macros anymore.

This is a part of the log:

[c

[2017-07-17 16:40] twalthr commented on #106
@2m, @ktoso any idea?

[2017-07-17 22:52] ktoso commented on #106
I'm unsure if it ever worked on macros to be honest.
I don't think there's a way currently to filter out files - is it for a specific sub-project where you have macros?

How / where to reproduce this, could you submit a PR examplifying the problematic code and we could make it work with that?

[2017-07-17 22:53] ktoso commented on #106
Also, do I understand correctly that is this for Flink itself?

[2017-08-05 10:21] manuzhang commented on #65
Any plan to support this ?

[2017-08-06 01:11] ktoso commented on #65
Feel free to submit a PR if you want this feature

[2017-08-09 00:56] SethTisue opened #109 "cut dependency on ScalaTest"
it would be better to just use JUnit, then we wouldn't need to wait for ScalaCheck and ScalaTest to publish before we could publish

[2017-08-09 01:17] ktoso commented on #109
+1, yeah good point, since this is a very bootstrapy project.

[2017-08-09 13:25] manuzhang commented on #65
@ktoso PR at https://github.com/typesafehub/genjavadoc/pull/110

[2017-08-09 15:43] ktoso commented on #65
Great, thanks :)

—
Konrad `kto.so` Malawski
Akka <http://akka.io> @ Lightbend <http://lightbend.com>

On 9 August 2017 at 22:25:47, Manu Zhang (notifications@github.com) wrote:

@ktoso <https://github.com/ktoso> PR at #110
<https://github.com/typesafehub/genjavadoc/pull/110>

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/t

[2017-08-09 21:28] SethTisue opened #111 "add a RELEASING.md documenting how to do releases"
this came up at #108

[2017-08-12 04:25] #111 closed

[2017-09-18 15:55] jrudolph opened #114 "Deprecated lazy vals lose scaladoc under Scala > 2.12"
From https://github.com/typesafehub/genjavadoc/commit/d898589ea9a4a9d95f671936d94ca70d0c8e576e:

in a way that puts the original position on the private `$lzycompute` method
instead of on the accessor. To fix that additional considerations are necessary
to somehow reconcile position information from the lzycompute with the actual
accessor so that existing and generated scaladoc can be merged.

Not

[2017-10-03 20:33] SethTisue opened #118 "Timetable for dropping Scala 2.10 support?"
This came up on #108. Since genjavadoc involves scalac internals, supporting so many different Scala versions takes some effort. 2.10 has been EOL for a long time; is it time to drop support?

[2017-10-03 20:34] SethTisue commented on #118
my own sense is that 2.10 users will be fine using existing releases of genjavadoc and we don't need to keep releasing new versions for them. (but, others are closer to this project and its users than I am.)

[2017-10-04 11:24] patriknw commented on #118
it can be dropped from Akka's perspective

[2017-10-07 10:58] #118 closed

[2017-10-07 10:58] 2m commented on #118
Support dropped with https://github.com/typesafehub/genjavadoc/pull/108

[2017-10-09 07:04] patriknw commented on #118
@SethTisue I have added scala-team as Admin here

[2017-11-13 09:33] twalthr commented on #106
@ktoso Sorry, for replying so late. Yes, it is for Flink itself. You can reproduce the error if you run `mvn javadoc:aggregate -DadditionalJOption="-Xdoclint:none" -Dmaven.javadoc.failOnError=false` on the current master. It would be great if genjavadocs could simply skip `scala.reflect.macros` package somehow.

[2017-11-13 09:36] twalthr commented on #106
We are thinking about dropping genjavadocs for now because of this bug.
https://github.com/apache/flink/pull/5003

[2017-11-13 09:50] ktoso commented on #106
Rather than dropping, we’d welcome some collaboration, it’s open source after all. The tool it something we use ourselves, and maintain on a best effort basis.

Your proposal of skipping is fine, I think you’d be able to PR such a change -- should be pretty simple, WDYT?

[2017-11-13 09:56] twalthr commented on #106
I will try to look into it. Would be happy about some hints nevertheless.

[2017-11-13 10:07] ktoso commented on #106
Perhaps one could introduce an annotation to skip certain methods?
When looking at what the method is then, one would check if it has the skip annotation and just skip it then. Would that work?

[2017-11-13 10:19] ktoso commented on #65
This was done

[2017-11-13 10:19] #65 closed

[2017-11-13 10:27] twalthr commented on #106
I think the easiest solution would be to define entire exclusions packages in the pom.xml. If we could simply skip classes that use Scala macros like `org.apache.flink.api.scala.codegen` we would be happy.

[2017-11-13 10:29] ktoso commented on #106
It's an sbt plugin so I don't know how you use it from maven actually?
It could be passed through as an environment variable though, list of packages which should be skipped?

[2017-11-13 10:32] twalthr commented on #106
We use it as described in your project description. Yes, the environment variable approach might work.

[2017-11-13 10:34] ktoso commented on #106
Hah I see, which goes to show how often I look at this codebase... Forgot it's documented how to use from mvn ;)

Thanks! Stay in touch, happy to help if you get stuck

[2017-11-13 12:05] 2m commented on #106
It would be better to use scalac parameters instead of environment variables, as these are already used for the `-P:genjavadoc:out=...` parameter.

[2017-12-20 11:34] patriknw commented on #43
Another thing to be careful with is `[[methodName]]` links. Those are not understood by genjavadoc. Intellij complains about `[[#methodName]]` syntax and you might replace them with `[[methodName]]`.

`[[#methodName]]` and `[[Class#methodName]]` works fine. The latter is not a warning in Intellij.

[2018-02-06 01:53] SethTisue opened #126 "release 0.11 (including publishing it for Scala 2.13.0-M3)"
once ScalaTest is available we should be good to go

[2018-02-06 06:38] raboof commented on #126
So waiting for https://github.com/scalatest/scalatest/issues/1321 for now 👍

[2018-02-06 13:02] patriknw commented on #126
we also need to publish com.typesafe#ssl-config-core_2.13.0-M3;0.2.2

[2018-02-06 16:06] SethTisue commented on #126
@patriknw for https://github.com/akka/akka/issues/24507, you mean?

[2018-02-06 16:29] patriknw commented on #126
yes, commented at wrong place, thanks

[2018-02-16 03:57] SethTisue commented on #126
@raboof I tagged v0.11 and tried to `+publishSigned`, but `java.io.IOException: Access to URL https://oss.sonatype.org/service/local/staging/deploy/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.11.0/0.11/genjavadoc-plugin_2.11.0-0.11-sources.jar.asc was refused by the server: Unauthorized`

I think I simply don't have the needed rights. I know I have Scala rights on Sonatype, but I probably d

[2018-02-16 04:32] ktoso commented on #126
I think I may have "the power"

[2018-02-16 04:32] ktoso commented on #126
I'll try

[2018-02-16 04:38] SethTisue commented on #126
you are the ship-it squirrel, are you not?

[2018-02-16 04:58] ktoso commented on #126
:shipit:

<img width="20" alt="slack_-_lightbend_cafe" src="https://user-images.githubusercontent.com/120979/36294052-56b71460-1321-11e8-9fdd-0a5ad9b88e07.png">

[2018-02-16 05:32] ktoso commented on #126
![nexus_repository_manager](https://user-images.githubusercontent.com/120979/36294766-3df256ba-1326-11e8-8a02-f8eed81b151b.png)
Quite some stuff there.

Releasing 0.11

[2018-02-16 05:42] #126 closed

[2018-02-16 10:19] raboof opened #128 "Release from travis"
Like we do for alpakka and akka-stream-contrib

[2018-02-16 10:20] raboof commented on #126
👍 and let's #128 at some point ;)

[2018-02-16 14:48] SethTisue commented on #126
thanks Konrad!

[2018-02-22 02:19] SethTisue commented on #46
closing for staleness

[2018-02-22 02:19] #46 closed

[2018-03-15 06:43] kpritam opened #131 "Package object scala docs does not get converted to java package docs."
I have a package structure which has scala files but provides Java API as well.
But everything is written in scala. I am using genJavaDoc to generate java documentation. It does get generated for scala classes but package documentation does not get generated for javadoc.

I jave followinf package structure:
 com.example.javadsl
 - javadsl.scala
 - ILocationService.scala

javadsl.scala looks like t

[2018-03-15 12:37] 2m commented on #131
Ahh, that would be nice indeed. The plugin would need to place these pacakge comments to a separate `package-info.java` file which is used to [generate the package documentation](https://docs.oracle.com/javase/7/docs/technotes/tools/solaris/javadoc.html#packagecomment) by the javadoc.

Would you be up for implementing this?

[2018-04-25 10:00] birkhola opened #133 "One error turns all warnings into errors"
Dealing with errors in javadoc generation is difficult due to a logging bug in the plugin. Whenever an error occurs that makes the javadoc command fail lots of issues, that are logged as warnings for usual turn into logging errors, which makes it kind of hard to find out which issues really caused the failure.

[2018-04-25 10:12] birkhola opened #134 "Links to classes in other packages are only possible with fully qualified package names"
`
package my.core.java.comparison.builder
 
import my.core.java.comparison.Comparator
 
/** Constructs a comparison DriverTask */
class TaskBuilder(builder: DriverBuilder)
    extends my.core.java.common.builder.TaskBuilder {

    /** Uses a [[Comparator]] as compiler for the DriverTask being built.                          <== this line won't work
    /** Uses a [[my.core.java.comparison.Comparat

[2018-04-25 10:20] birkhola opened #135 "Constructor parameters appear in the docstring"
e.g.
[code]
results in
[code]

[2018-04-25 10:24] birkhola opened #136 "The typ parameter tag "@tparam" does not work for functions"
[code]

[2018-04-25 10:28] ktoso commented on #133
Can't remember if this actually wasn't an issue with javadoc.
PR to help address this would be very welcome

[2018-04-25 16:37] ktoso commented on #134
PR would be welcome

[2018-04-25 17:38] birkhola commented on #134
Sorry, I'm new to this. What mean PR?

ktoso <notifications@github.com> schrieb am Mi., 25. Apr. 2018, 18:37:

[2018-04-25 20:10] SethTisue commented on #134
pull request, https://help.github.com/articles/about-pull-requests/

(hello, welcome!)

[2018-04-26 00:26] ktoso commented on #134
Sorry for the acronym used, yes pull request :-) I.e. if you have some time and would like to see this solved, it would help a lot if you could give it a shot implementing it. We only maintain this plugin on a minimum-per-need basis that gets our projects to work well etc.

[2018-04-28 12:35] SethTisue opened #138 "publish for Scala 2.12.6"
@ktoso could you take this...? judging from https://github.com/lightbend/genjavadoc/pull/132#issuecomment-375138554 you'll be allllll over this

[2018-05-04 07:58] SethTisue commented on #138
I'll take care of it

[2018-05-04 08:30] SethTisue commented on #138
see also #128

[2018-05-04 08:31] 2m commented on #138
Yea, I can do a quick release.

[2018-05-04 08:40] 2m commented on #138
`genjavadoc-plugin_2.12.6-0.11` is on its way to Maven Central.

[2018-05-04 08:40] #138 closed

[2018-08-09 06:00] xuwei-k opened #143 "tests fail with latest Scala 2.13 due to productElementName"
- https://scala-ci.typesafe.com/job/scala-2.13.x-integrate-community-build/1318/consoleText
- https://github.com/scala/scala/commit/efc48213073ce5e68a7fd7dc9820610eccdeb9f7

[code]

[2018-09-13 08:27] xuwei-k opened #144 "publish for Scala 2.13.0-M5"

[2018-09-13 14:51] SethTisue commented on #144
* [ ] https://github.com/scalatest/scalatest/issues/1409

[2018-09-13 14:52] SethTisue commented on #144
(it would be nice to get rid of the ScalaTest dependency and just use JUnit; that's https://github.com/lightbend/genjavadoc/issues/109)

[2018-09-18 20:42] #109 closed

[2018-09-18 20:45] SethTisue commented on #144
https://github.com/lightbend/genjavadoc/pull/145 removes the dependency on ScalaTest

@raboof @dwijnand @2m who wants to pull the publishing levers this time?

[2018-09-18 20:45] SethTisue commented on #144
@raboof @dwijnand @2m who wants to pull the publishing levers this time?

[2018-09-18 20:53] SethTisue commented on #144
oh there needs to be a PR bumping the Scala dependency first. I'll do that part, working on it now

[2018-09-18 21:06] 2m commented on #144
I can pull some levers when levers are needed to be pulled.

[2018-09-18 21:37] SethTisue commented on #143
okay well now I really need to fix this so we can publish for 2.13.0-M5 (#144)

[2018-09-18 22:48] SethTisue commented on #143
`productElementNames` is defined in `scala.Product`. the implementation is the same for every case class, it doesn't get overridden.

but if you `javap -classpath .:/usr/local/scala-2.13.0-M5/lib/scala-library.jar -private scala.Product | grep productElementNames` you see:

[code]

so already this is odd, what's the extra static method doing there?

hypothesis: is it because `Product` is a "univer

[2018-09-18 23:01] SethTisue commented on #143
`SignatureSpec` compiles the Scala code, compiles the Java code generated by the plugin, then compares the resulting lists of methods. we've learned something, above, about why `productElementNames` appears in the list from the Scala code.

but why *doesn't* `productElementNames` appear in the Java code? is there some logic, probably in `Output.scala`, that filters it out, and we need that same lo

[2018-09-18 23:06] SethTisue commented on #143
this seems closely related to @ktoso's https://github.com/lightbend/genjavadoc/pull/86 , specifically https://github.com/lightbend/genjavadoc/pull/86/commits/60b33280e25ead0f4e266542f641f7da42c94783 — "These synthetic static methods appear since 2.12.0-M5+ as companions to default methods"

[2018-09-18 23:10] SethTisue commented on #143
some `println` debugging indicates that `Output#merge` doesn't even see the method. hypothesis: that could be because the plugin has `val runsAfter = List("fields")` — perhaps the case class hasn't yet acquired the overriding method at that phase of compilation. whereas `SignatureSpec` uses Java reflection, so it's operating on generated bytecode

[2018-09-18 23:11] SethTisue commented on #143
in any case, I'm satisfied this isn't a blocker for going ahead and publishing on 2.13.0-M5

[2018-09-18 23:42] SethTisue commented on #144
#146 is merged, so... Martynas, pull those levers!

note that we don't need a version number bump, there are no user-visible changes since https://github.com/lightbend/genjavadoc/tree/v0.11_2.13.0-M4:

[code]

[2018-09-19 13:39] 2m commented on #144
Artifacts are on their way to Maven Central!

[2018-09-19 13:39] #144 closed

[2018-09-20 20:20] SethTisue commented on #144
https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.0-M5/0.11/ 👍

scala/make-release-notes@59fb2032679bd9fe2c89b3ec9a6dbb60d64f577e

[2018-09-27 15:25] raboof opened #148 "Publish for Scala 2.12.7"

[2018-09-27 16:51] SethTisue commented on #148
who will pull the release levers? (@2m did it last time)

[2018-09-27 17:31] 2m commented on #148
Can do it!

[2018-09-27 17:37] 2m commented on #148
On its way to Maven Central.

[2018-09-27 20:09] SethTisue commented on #148
https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.12.7/0.11/

[2018-09-27 20:09] #148 closed

[2018-12-04 12:37] hepin1989 opened #152 "genjavadoc for 2.12.8"
refs:https://github.com/akka/akka/pull/26039

[2018-12-04 14:23] raboof commented on #152
should be on its way to maven central now

[2018-12-05 16:53] SethTisue commented on #152
https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.0-M5/0.11/

[2018-12-05 16:53] #152 closed

[2018-12-06 17:59] eed3si9n opened #154 "genjavadoc produces static public abstract methods"
Ref https://github.com/akka/akka/pull/26050
Ref https://github.com/akka/akka/issues/26057

### steps

Given https://github.com/akka/akka/blob/v2.5.18/akka-actor-typed/src/main/scala/akka/actor/typed/Props.scala

[code]

## problem

It seems like sbt-unidoc is currently producing DispatcherSelector.java:34:

[code]

sbt 1.2.7's Javadoc is no longer able to compile this.

## expectations

Produce va

[2018-12-13 14:38] #154 closed

[2018-12-13 15:09] manuzhang commented on #136
@birkhola Which version of genjavadoc are you using ?  `tparam` should be supported since v0.11.

[2019-01-02 18:32] #136 closed

[2019-01-02 18:32] SethTisue commented on #136
we can reopen if it turns out there's still an actual issue here

[2019-01-16 15:37] SethTisue commented on #131
No plans. A pull request would be welcome.

[2019-01-18 23:56] SethTisue commented on #143
I don't think I'm going to ever find the time to get to the bottom of this, too much else to do for 2.13.0-RC1 and 2.13.0. anyone else interested in delving into it...?

[2019-01-28 13:50] raboof commented on #143
Indeed: it looks like this method is generated in the `mixin` stage. I guess this plugin is run after `fields` because later steps may modify things in ways we don't expect - it seems the `flatten` stage moves the `InboxExtension` to the top level instead of inside `Inbox` where it should be.

Do I understand correctly that our ways forward here are to either run genjavadoc after `mixin` (and make

[2019-01-29 20:44] SethTisue commented on #143
Yes, I think so.

Running way later in the compilation pipeline would probably mean undoing a lot. Maybe it's not impossible — even when you run at a later phase, you can use the compiler's "time travel" feature to ask how something looked before, so for example, even when you run after erasure, you can still see the types before they were erased. But still, it sounds like an ambitious change.

Re

[2019-01-29 20:46] SethTisue commented on #143
This is a longstanding issue that this 2.13 change (the addition of `productElementNames`) just happens to have turned up, right? If we've been living this long with this limitation, maybe we can continue living with it?

[2019-01-30 16:30] raboof opened #163 "'mixin' methods not generated for case objects"
When a method is defined in a trait (i.e. `TraitWithMethod`), and that trait is mixed into an object (i.e. `MethodFromTrait`:
[code]

Then this should lead to 3 class files: the trait is converted to an interface declaring the method:

[code]

The `MethodFromTrait$` class that implements the interface and contains the method implementation:

[code]

And a `MethodFromTrait` class with static forwar

[2019-01-30 16:31] raboof commented on #143
Agreed entirely. I've tried to summarize the more general issue in #163. With that I think this specific issue can be closed.

[2019-01-30 16:31] #143 closed

[2019-04-06 12:36] SethTisue opened #168 "publish for Scala 2.13.0-RC1"
~~but first we need to get #164 over the finish line~~ done!

[2019-04-06 14:23] SethTisue commented on #168
@2m would you mind pulling the release levers?

[2019-04-08 08:43] 2m commented on #168
`0.13` artifacts for `2.13.0-RC1` are on their way to Maven Central. Released from the current master and pushed the following tag to note it: https://github.com/lightbend/genjavadoc/tree/v0.13_2.13.0-RC1

[2019-04-08 08:56] 2m commented on #168
And its [live](http://central.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.0-RC1/0.13/).

[2019-04-08 08:56] #168 closed

[2019-05-20 09:35] raboof opened #172 "publish for Scala 2.13.0-RC2"
like #168

[2019-05-20 11:28] 2m commented on #172
On its way to Maven Central from https://github.com/lightbend/genjavadoc/tree/v0.13_2.13.0-RC2

[2019-05-20 12:13] lrytz commented on #172
thanks! http://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.0-RC2/

[2019-05-20 12:13] #172 closed

[2019-05-29 20:24] SethTisue opened #175 "publish for Scala 2.13.0-RC3"
like #172

(@2m? @raboof?)

[2019-05-30 04:45] lrytz commented on #175
I cant, releases are built locally (https://github.com/lightbend/genjavadoc/issues/128)

[2019-05-30 04:47] lrytz commented on #175
(ah i was not actually cc'd above, i guess i'm trying to feel more important 😂)

[2019-05-30 06:14] 2m commented on #175
Publishing

[2019-05-30 06:23] 2m commented on #175
On its way to Maven Central from https://github.com/lightbend/genjavadoc/tree/v0.13_2.13.0-RC3

[2019-05-30 08:44] SethTisue commented on #175
* https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.0-RC3/0.13/
* d3b3725ee64d83d42f18a3170361a5a919481616

thanks @2m!

[2019-05-30 08:44] #175 closed

[2019-06-07 22:55] SethTisue opened #178 "publish for Scala 2.13"
@2m are you available for this?

[2019-06-08 06:02] 2m commented on #178
Yes. Will publish in an hour.

[2019-06-08 06:29] 2m commented on #178
On its way to Maven Central from https://github.com/lightbend/genjavadoc/tree/v0.13_2.13.0

[2019-06-08 07:15] SethTisue commented on #178
keeping an eye on https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13/0.13/

[2019-06-08 07:23] patriknw commented on #178
Thanks @2m

[2019-06-08 10:06] SethTisue commented on #178
am I looking in the wrong place, or did something go wrong, or is Sonatype being extraordinarily slow?

[2019-06-08 10:07] SethTisue commented on #178
I'm looking in the wrong place. genjavadoc is published by compiler minor version: https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.0/0.13/

[2019-06-08 10:07] #178 closed

[2019-07-10 11:43] GeTOUO opened #181 "I can't use the Maven plug-in"
I can't compile:
My environment is Maven3.6 + scala2.12.8 + java1.8
For example, I have a class like this:
`case class AreaModel(code: String, name: String, level: String, parent: String, code_short: String)`
run compile and gened
AreaModel.java and AreaModel$.java
but, Maven throws some errors similar to: abstract and static：
`static public abstract  boolean canEqual (Object that)  ;`
How should

[2019-07-10 14:24] SethTisue commented on #181
sounds like #154?

[2019-07-10 17:03] GeTOUO commented on #181
Yes, but I don't know how to solve this problem. I used [spring-auto-restdocs](https://github.com/ScaCap/spring-auto-restdocs) and a lot of scala case class in my project, the spring-auto-restdocs only parse javadoc. I rely on scaladoc to output the restapi description.

[2019-07-10 20:35] SethTisue commented on #181
what version of genjavadoc are you using?

[2019-07-11 02:49] GeTOUO commented on #181
I tried 0.11 and 0.13.

[2019-07-12 09:01] GeTOUO commented on #181
So what should I do?

[2019-07-12 09:15] raboof commented on #181
#156 should have been fixed in 0.12, so if you're still seeing the problem with 0.13 then either that didn't completely fix the issue or what you are seeing is a different issue.

A useful next step could be to put together and share a "reproducer" project that shows the problem. That would be a very helpful starting point for someone to look further into the problem.

Perhaps a bit more complicat

[2019-07-12 09:50] GeTOUO commented on #181
Thank you for your reply.

I uploaded a demo to reproduce the error.

Please have a look.

[genjavadoc-error-demo](https://github.com/GeTOUO/genjavadoc-error-demo)
`https://github.com/GeTOUO/genjavadoc-error-demo.git`

[2019-07-12 10:00] raboof opened #182 "Invalid code generated for classes in the empty package"
https://github.com/GeTOUO/genjavadoc-error-demo at 3c6d2fae3229ca7b84fc21345e8dd6241b27a1d2
[code]

produced alongside the `ScalaModel` also a `ScalaModel$`:

[code]

Here the 'empty' package makes it into the generic type, which is of course invalid.

[2019-07-12 10:01] raboof commented on #181
The first problem I noticed is that the empty package is not handled correctly in a generic type parameter, I added that as a separate issue under #182

[2019-07-12 10:13] raboof commented on #181
When I add a package, indeed I see errors like:
[code]
While these are definitely errors, perhaps the problem here is that we try to compile those sources at all. genjavadoc has some known limitations that prevent it from producing actually-correct Java code. It just creates Java code that is 'correct enough' to be able to use it as the basis to create javadocs.

The problem might be that you're a

[2019-07-12 10:17] GeTOUO commented on #181
em，
In the generated Java class:
`static public abstract  R apply (T1 v1)  ;`
`static` and `abstract` are conflicting

[2019-07-12 10:20] GeTOUO commented on #181
Okay, I'll take a look at the links you provide, because using this project is looking to inject other operations into the process of creating Javadoc to generate other data.

[2019-07-15 18:25] GeTOUO commented on #181
I wonder if it is possible for plug-ins to provide an extensible interface that injects scaladoc-like abstractions into the scope of the interface. Then can users define other behaviors or side effects? It's like slick's CodeGen. I think it's good that users can extend some behavior and transform the data they need, and be more flexible in dealing with scaladoc and Javadoc tag compatibility.
`
cla

[2019-07-15 19:00] SethTisue commented on #181
maybe start a thread on https://users.scala-lang.org about it

[2019-07-15 19:02] SethTisue commented on #181
I don't understand what you mean by that. but also, probably this issue tracker isn't the place to discuss it

[2019-07-17 09:12] GeTOUO commented on #181
Thanks to @SethTisue and  @raboof's help. I modified a little Maven configuration to avoid the compilation process. Now I can use this library to generate the data I need. Finally, my configuration is as follows:

[code]
**_<sourcepath>${project.build.directory}\genjavadoc\com\scst; ${project.basedir}</sourcepath>_**

[2019-07-17 09:19] GeTOUO opened #183 "Annotation coding is problematic (UTF-8?)"
There are Chinese annotations in my code, but the generated Java annotations show exceptions and the final data can not be converted into Chinese.
`* @param dictCode 标识码`
`* param:  dictCode &#x6807;&#x8bc6;&#x7801;`

[2019-07-17 10:07] raboof commented on #181
Good to hear you managed to get it to work! Is this something that we could/should document better, or was it specific to your project?

[2019-07-17 10:17] GeTOUO commented on #181
I think it can be adjusted to make it easier to use.

Instead of using build-helper-maven-plugin to add genjavadoc's output directory as the source directory, I added genjavadoc's output directory to maven-javadoc-plugin's <sourcepath> configuration. Now Javadoc can work in the compile stage, avoiding trying to compile the code generated by genjavadoc.

[2019-07-17 10:27] GeTOUO commented on #181
like this:
[code]

[2019-07-19 06:44] GeTOUO commented on #183
Will this problem be fixed?

[2019-07-19 06:55] raboof commented on #183
I think it'd be great if this problem got fixed, but it's not affecting my project so it's not high on my personal priorities. Could you help? I'd be glad to offer assistance, of course. Great first steps would be a reproducer project or (even better) a PR adding a (failing) test case to the project (in `plugin/src/test/resources/input` and `plugin/src/test/resources/expected_output`).

[2019-07-19 07:14] GeTOUO commented on #183
Well, I watched it all day yesterday and didn't find a way to repair it. I'll study it again.

[2019-07-19 07:16] raboof commented on #183
Thanks for looking into it! As said, just sharing a test/reproducer would already be very helpful, I might be able to justify a look then :)

[2019-07-24 08:42] GeTOUO opened #184 "Why is the field of a class translated into a method?"
The val and var fielrds in the case class are translated into methods. Why?

[2019-07-24 09:13] raboof commented on #184
That's what val and var fields compile to: if you want to access them from Java, you would achieve that by calling those methods. I don't know why the Scala compiler does that, but it's not a genjavadoc issue - genjavadoc just shows it ;).

[2019-07-24 09:13] #184 closed

[2019-08-02 11:00] dwijnand opened #187 "Release for 2.10.7?"
In doing something unrelated I got:

[code]

Is this easy to resolve?

[2019-08-02 15:01] SethTisue commented on #187
(fwiw, the 2.10.6 version should work fine. the delta from 2.10.6 to 2.10.7 was almost nothing (reference: https://github.com/scala/scala/releases/tag/v2.10.7)

[2019-08-02 15:25] dwijnand commented on #187
Thanks.  I'm going to try and override the cross-building for Scala 2.10.7.

[2019-08-02 15:42] dwijnand commented on #187
Well, that's not going to work as Scala 2.10 support has been dropped a while ago.

I'll just give this project up from being a part of the unidocs.

[2019-08-02 15:42] #187 closed

[2019-08-07 14:14] SethTisue commented on #152
@raboof 2.12.9 time :-)

[2019-08-07 14:25] agemooij opened #190 "Release for Scala 2.12.9"
Please release a version for Scala 2.12.9

[2019-08-07 14:30] 2m commented on #190
I'll cut a release in a moment.

[2019-08-07 14:37] 2m commented on #190
Artifacts are on their way to Maven Central.

[2019-08-07 14:37] #190 closed

[2019-08-07 14:49] agemooij commented on #190
awesome!

[2019-08-07 15:15] SethTisue commented on #152
oh, https://github.com/lightbend/genjavadoc/issues/190 :+1:

[2019-09-06 10:16] raboof opened #193 "Update to sbt 1.x"
We tried updating to sbt 1.x before, but it turned out that since f34a2d90fa2004d352e85f68f6a025c5bc6dd247 `publishLocal` no longer worked, and `publishLocalSigned` worked but did not create ivy metadata for com.typesafe.genjavadoc/genjavadoc-plugin_2.12.9

We would like to update to sbt 1.x, but should verify that the plugin is still properly released - perhaps moving to sbt-ci-release as well wo

[2019-09-17 12:46] helena commented on #193
@raboof what was the error you saw?

[2019-09-17 12:54] raboof commented on #193
`sbt publishLocal`:
[code]

[2019-09-17 12:58] raboof commented on #193
`sbt publishLocalSigned` does complete successfully, but does not publish ivy metadata:
[code]
... which causes the following error when trying to use it with akka by choosing the newly-created release in `project/Doc.scala` and running `sbt -Dakka.genjavadoc.enabled=true unidoc`:
[code]

(reproduced with genjavadoc 012acb3)

[2019-09-17 14:23] SethTisue commented on #193
(I'm interested in returning to this, I just haven't had time yet)

[2019-09-17 14:38] raboof commented on #193
(agreed, the revert was just a temporary thing to be able to release, keeping this open since at some point we'd still want to move to sbt1 ;) )

[2019-10-04 09:53] raboof opened #203 "Use sbt-ci-release"
needs #193 first

[2019-11-04 12:52] raboof opened #206 "Can't add commits to existing branches"
Looks like the branch protection is preventing me from adding commits to a branch:

[code]

It's interesting the error mentions `typesafe-cla-validator`: I of course have signed the CLA, but I don't think we check the validator for branches, only for PR's?

[2019-11-05 10:14] raboof opened #209 "Classes missing during test"
Since #208, when running the tests, there are sometimes classes that are missing at run or compile time.

It looks like this is due to our overridden `test` task:

[code]

It looks like sometimes the `clean` removes class files (as intended), but `test in Test` doesn't correctly re-introduce it by compiling it again.

However, when commenting out that line, it looks like sbt already recompiles the

[2019-11-05 15:24] SethTisue commented on #209
fixed by #210. if there's trouble as a result, let's cross that bridge when we come to it. perhaps this was only necessary in some old version of sbt?

regardless, curious if @jodersky remembers anything about this

[2019-11-05 15:24] #209 closed

[2019-11-05 16:54] jodersky commented on #209
Hey, sorry I'm not up-to-date with this anymore

[2019-11-05 17:59] SethTisue commented on #193
fixed by #208

[2019-11-05 17:59] #193 closed

[2019-11-05 17:59] SethTisue commented on #203
fixed by #208

[2019-11-05 17:59] #203 closed

[2019-11-05 18:00] SethTisue commented on #128
fixed by #208

[2019-11-05 18:00] #128 closed

[2019-11-06 15:45] SethTisue commented on #203
@raboof but I see that https://travis-ci.org/lightbend/genjavadoc/jobs/608111518 failed

[2019-11-06 16:02] raboof commented on #203
(as discussed on slack, #212)

[2019-12-15 00:24] TisonKun commented on #43
@patriknw we don't support args in methodName yet? I try to write links like `[[FileIO.toFile(File, util.Set[OpenOption])]]` but it was rendered as `<span class="extype" name="FileIO.toPath(Path,">util.Set[OpenOption])</span>` which is neither a link nor a good display.

[2019-12-17 13:42] ignasi35 opened #215 "Invalid java Code for a case class (JDK 11)"
When running in JDK 11, given:

[code]

the output is:

[code]

This produces multiple errors in `apply()`:

1. `T1`, `T2` and `R` are undefined
2.  `static abstract` is an invalid combination of modifiers.

[2019-12-17 13:43] ignasi35 commented on #215
A workaround to execute `javadoc` over that java code is to use the (undocummented) `--ignore-source-errors` flag of `javadoc`. When using that flag, the error messages are still produced but the process completes successfully and produces the expected HTML.

[2019-12-17 13:52] raboof commented on #215
I think it's outside the scope of genjavadoc to produce valid Java code. We didn't produce valid Java code for JDK9, just 'valid enough to produce useful javadoc'. The difference on JDK11 is that the javadoc tool has become more loud about it.

I think we should 'fix' this issue by explicitly stating this as a non-goal of the project. WDYT?

[2019-12-18 13:56] ignasi35 commented on #215
Sounds good to me. :-)

[2019-12-18 13:56] #215 closed

[2020-01-03 12:38] raboof opened #220 "Problems when running with -Yrangepos"
It seems that when compiling with `-Yrangepos` comments are no longer correctly associated with the right elements. Tested with `akka-cluster-typed/src/main/scala/akka/cluster/ddata/typed/javadsl/Replicator.scala` in Akka.

For now perhaps we should throw an error when `-Yrangepos` is enabled? Though that's only a temporary solution since [rangepos might be enabled by default in the future](https:

[2020-01-21 23:27] julianmendez opened #222 "Error compiling with JDK11 when a case class does not have its companion object"
## problem

If a case class does not have a companion object, the following error message appears:

[code]

In JDK 8 using *abstract and static* is considered a warning. In JDK 11 this is an error.

## expectation

A case class can be used without needing a companion object.

## reproduction

To reproduce this issue, it is enough to create a file containing:
[code]

However, the following does not

[2020-03-05 14:15] rdesgroppes opened #225 "Problem handling a nested type with the same name as its enclosing type"
I have an object definition `MyName` who has a nested object definition also named `MyName`. This seems to terminate the javadoc generation abruptly (`javadoc exited with exit code 1`).

Here's `MyName.scala`:
[code]

sbt output:
[code]

[2020-03-05 14:19] raboof commented on #225
does --ignore-source-errors (https://github.com/lightbend/genjavadoc/pull/216/files#diff-04c6e90faac2675aa89e2176d2eec7d8R170) help?

[2020-03-06 12:46] rdesgroppes commented on #225
@raboof alas not available in java 8

[2020-04-22 13:55] baol commented on #225
Even ignoring errors, the generated doc may not be correct.

[2020-06-26 12:42] raboof opened #239 "Release for Scala 2.13.3"

[2020-06-26 13:17] ignasi35 opened #241 "Use latest JDKs in TravisCI builds"
instead of 1.8_222 and 1.11_4

[2020-06-26 13:31] ignasi35 commented on #239
Fixed in #240

[2020-06-26 13:31] #239 closed

[2020-06-26 13:41] raboof commented on #239
I also released 0.16 for Scala 2.13.3: https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.3/0.16/

[2020-06-26 14:28] ignasi35 commented on #241
fixed in #242

[2020-06-26 14:28] #241 closed

[2021-02-05 20:06] marcospereira opened #264 "Invalid javadoc generated when using Scala 2.13.4"
Project to reproduce the problem: https://github.com/marcospereira/scala-2.13.4-genjavadoc-failure

Java version:

[code]

The code generated when using Scala 2.13.4 is:

[code]

And then Javadoc fails with:

[code]

The (valid) code generated when using Scala 2.13.3 is:

[code]

[2021-03-03 20:00] marcospereira commented on #264
The same happens with Scala 2.13.5.

[2021-03-04 10:40] lrytz commented on #264
This is caused by `-Yrangepos` being enabled by default in 2.13.4+.

Adding `-Yrangepos:false` makes it work on 2.13.4/5, adding `-Yrangepos:true` causes the same failure on 2.13.3.

The test suite runs without range positions by default (https://github.com/lightbend/genjavadoc/blob/bd654c74201d73cdb109216496c6813936e7d128/src/test/scala/com/typesafe/genjavadoc/util/CompilerSpec.scala#L23-L24).

[2021-03-11 10:34] lrytz commented on #264
@raboof noticed this before at https://github.com/lightbend/genjavadoc/issues/220

[2021-03-11 14:47] marcospereira commented on #264
Oh, good. I'm gonna close this one then as a duplicate. Thanks, @lrytz!

[2021-03-11 14:47] #264 closed

[2021-03-11 14:48] marcospereira commented on #220
See some additional conversation here: https://github.com/lightbend/genjavadoc/issues/264.

Alright, `rangepos` is now the default. :-)

[2021-03-16 13:19] #220 closed

[2021-05-29 22:27] dongjoon-hyun opened #282 "Release for Scala 2.12.14"

[2021-05-29 22:28] dongjoon-hyun commented on #282
Hi, @SethTisue .
I saw the repo is ready for 2.12.15 nightly, but I cannot find an artifact for 2.12.14. Could you publish it?
- https://repo1.maven.org/maven2/com/typesafe/genjavadoc/

[2021-05-29 23:59] SethTisue commented on #282
@raboof ?

[2021-05-30 11:51] raboof commented on #282
On its way to central!

[2021-05-30 11:51] #282 closed

[2021-05-30 20:47] dongjoon-hyun commented on #282
Thank you, @raboof and @SethTisue !

[2021-06-18 14:13] ilx commented on #69
1st issue: See parses following declaration:

`@see [[https://somewhere.com]]` into prefix and link. In this case `@see` is prefix and `https://somewhere.com` is a link

and then it transforms it into:

`@see <a href="https://somewhere.com" />

which javadoc does not like:

[code]

2nd issue: scaladoc also suggest:

`@see [[https://somewhere.com Some human readable description]]`

but this is not

[2021-07-13 09:14] jrudolph opened #286 "java.util.NoSuchElementException: None.get in BasicTransform.deprecationInfo"
This works with 2.13.5 / 0.16 but fails with the same code with 2.13.6 / 0.17.

Unfortunately, it's not reporting which source file / line might be the problem.

See https://jenkins.akka.io:8498/job/pr-validator-akka-http/5768/console
https://github.com/akka/akka-http/pull/3870

[code]

[2021-07-13 09:21] jrudolph commented on #286
Works for 2.13.5 with 0.17, so it's probably a behavior change in 2.13.6.

Here's the failing method:

https://github.com/lightbend/genjavadoc/blob/69282d9a96f457069de11d047228256bdc71b02f/src/main/scala/com/typesafe/genjavadoc/BasicTransform.scala#L161-L165

[2021-07-13 09:45] jrudolph commented on #286
It crashes at this definition:

https://github.com/akka/akka-http/blob/a63e16848d3a5a7648d2f858fb9d0a5e144750bb/akka-http-core/src/main/scala/akka/http/scaladsl/ConnectionContext.scala#L93-L94

[2021-07-15 07:43] #286 closed

[2021-07-15 12:59] jrudolph commented on #206
Changed branch protection to only cover `main` branch.

[2021-07-15 12:59] #206 closed

[2021-09-15 01:06] SethTisue opened #296 "Publish for Scala 2.12.15, please?"
@raboof could you review/merge #295 and then publish...?

[2021-09-15 09:14] raboof commented on #296
https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.12.15/0.18/

[2021-09-15 09:14] #296 closed

[2021-09-15 14:45] SethTisue commented on #296
thanks Arnout!

[2022-01-10 19:06] SethTisue opened #307 "Publish for Scala 2.13.8, please?"
as per https://contributors.scala-lang.org/t/scala-2-13-8-release-planning/5487/13

@raboof could you review/merge #306 and then publish...?

[2022-01-13 10:07] raboof commented on #307
Done! https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.8/0.18/

[2022-01-13 10:07] #307 closed

[2022-06-08 04:02] SethTisue opened #312 "Publish for Scala 2.12.16, please"
as per https://contributors.scala-lang.org/t/scala-2-12-16-release-planning/5692/8

[2022-06-08 04:08] SethTisue commented on #312
@raboof could you review/merge https://github.com/lightbend/genjavadoc/pull/313 and then publish...?

[2022-06-08 07:27] raboof opened #314 "new method incorrectly generated for Scala 2.12.17"
This method doesn't seem to show up in `javap`, so it looks like a bug in genjavadoc that this now shows up?

_Originally posted by @raboof in https://github.com/lightbend/genjavadoc/pull/313#discussion_r892010275_

[2022-06-08 09:10] raboof commented on #312
get it while it's hot at https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.12.16/0.18/

[2022-06-08 09:10] #312 closed

[2022-09-14 21:17] SethTisue opened #317 "Publish for Scala 2.12.17"
some prefatory work is in #318

[2022-09-15 00:19] SethTisue commented on #317
[code]

watching https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.12.17 now

[2022-09-15 00:36] SethTisue commented on #317
🚀

[2022-09-15 00:36] #317 closed

[2022-09-16 23:37] SethTisue commented on #314
as per https://github.com/lightbend/genjavadoc/pull/313#issuecomment-1227871158, this isn't a new issue in 2.12.17, but goes way back

[2022-09-19 20:24] SethTisue opened #319 "publish for Scala 2.13.9"

[2022-09-19 20:50] SethTisue commented on #319
https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.9/0.18/

[2022-09-19 20:50] #319 closed

[2022-10-08 18:51] SethTisue opened #321 "Please publish for Scala 2.13.10"
Scala 2.13.10 is now on Maven Central; we plan to announce it on Thu Oct 13.

[2022-10-11 12:50] He-Pin commented on #321
https://github.com/akka/akka/actions/runs/3226774432/jobs/5280716214

[2022-10-11 14:41] SethTisue commented on #321
I'll get to this on Wednesday (or perhaps Thursday).

[2022-10-12 23:36] SethTisue commented on #321
https://repo1.maven.org/maven2/com/typesafe/genjavadoc/genjavadoc-plugin_2.13.10/0.18/

[2022-10-12 23:36] #321 closed